<form action="<%= vote_comment_url(comment_id) %>" method="post">
	<input type="hidden", name="authenticity_token", 												 												 value="<%= form_authenticity_token %>">
	<input type="hidden" name="vote[user_id]" value="<%= current_user.id %>">
	<input type="hidden" name="vote[comment_id]" value="<%= comment_id %>">
	<input type="hidden" name="vote[value]" value="<%= value %>">
	<input type="hidden" name="link_id" value="<%= link_id %>">
	<input type="submit" value="<%= button_text %>">
</form>